 .u-section-1 {
  background-image: none;
  min-height: 1400px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 531px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 364px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 83px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 409px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-2 {
  margin: 98px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 14px 52px 14px 51px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin-right: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 231px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-shape-1 {
    height: 473px;
    margin-right: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 135px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1164px;
  }

  .u-section-1 .u-shape-1 {
    height: 379px;
    margin-right: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 160px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 999px;
  }

  .u-section-1 .u-shape-1 {
    height: 289px;
    margin-right: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 69px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}