<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SparkStop</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
header {
  background-color: rgb(26, 26, 26);
  color: rgb(0, 0, 0);
  padding: 20px;
}

</style>
<body>
  <header class="top-area">
    <div class="header-area">
      <!-- Start Navigation -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">SparkStop</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Device.</a></li>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#Device">Our Device.</a></li>
            <li><a href="Chart.ejs">Chart Explanation.</a></li>
            <li><a href="Guides.ejs">Guides.</a></li>
          </ul>
        </div>
      </nav>  
      <!-- End Navigation -->
    </div><!--/.header-area-->
      <div class="clearfix"></div>
  </header><!-- /.top-area-->

  <main>
   
  </main>

  <footer>
    <p>//////////</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>

